header {
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: 24;
}

.burgerIcon {
  width: 42px;
  height: 40px;
}

.header-slogan {
  display: flex;
  font-size: 14;
}

.fa-brands {
  display: flex;
  position: fixed;
  align-items: right;
}
