.ItemGallery {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-sizing: border-box;
    align-items: center;
    height: 250px;
}

.added-items-container {
    display: flex;
    height: 150px;
    overflow: scroll;
    flex: 3;
    margin-top: 10px;
    padding: 0px 10px;
}

/* .added-items-container ul {
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
} */

.submit-plate {
    flex: 1;
    width: 80%;
    padding: 10px 0px;
}