.RecipeCard {
  position: relative;
  height: 150px;
  width: 300px;
  font-size: 10px;
  margin: 0px 10px;
}

.RecipeCard p {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0));
  padding: 2px;
  color: white;
  height: 60px;
  width: 100%;
  z-index: 2;
  margin: 0;
  font-weight: 600 ;
  font-size: 12px;
}

img {
  height: 150px;
  width: 125px;
  object-fit: cover;
  z-index: 1;
}

.fa-heart {
  display: block;
  font-size: 20px;
  position: relative;
  bottom: 30px;
  left: 75%;
  color: white;
  text-shadow: 1px 1px 4px black;
}
